<div class="container">
  <div class="col-md-3">
  </div>
  <div class="col-md-9" id="sign-in-box">
    <%= form_tag '/signin', class: 'form-group' do |f| %>
        <h3>Sign in:</h3>
        <br>

        <fieldset class="form-group">
          <%= label_tag 'Email:' %>
          <%= text_field_tag :email, "email@example.com", class: 'form-control' %>
        </fieldset>

        <fieldset class="form-group">
          <%= label_tag 'Password:' %>
          <%= password_field_tag :password, "****", class: 'form-control' %>
        </fieldset>
        <div align="right">
          <%= submit_tag "Submit", class: 'btn btn-primary' %>
        </div>
    <% end %>
    <h3>I do not have an account</h3>
    <div align="right">
      <%= link_to 'New Account', new_user_path, class: 'btn btn-primary', id: 'btn-new-account' %>
    </div>
  </div>
</div>
