<div class="container-fluid">
  <div class="col-md-3"></div>
  <div class="col-md-9">
    <h2>Editing User</h2>

    <%= render 'form', user: @user %>

    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path %>

  </div>
</div>
