<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Password digest</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.password_digest %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
    Signed in as <%= current_user.name %> | <%= link_to "Sign out", '/signout' %>
<% else %>
    <%= link_to 'Sign in', '/signin' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<br>

<%= link_to 'New User', new_user_path %>
