<p id="notice"><%= notice %></p>
<div class="col-md-3"></div>
<div class="col-md-9">
  <h2>Account details</h2>
  <dl class="dl-horizontal">
    <dt><strong>Email:</strong></dt>
    <dd><%= @user.email %></dd>
    <dt><strong>Name:</strong></dt>
    <dd> <%= @user.name %></dd>
    <dt><strong>Password digest:</strong></dt>
    <dd><%= @user.password_digest %></dd>
    <dt><strong>Email:</strong></dt>
    <dd><%= @user.email %></dd>
  </dl>
  <div align="right">
    <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary', id: 'btn-edit' %> |
    <%= link_to 'Back', users_path, class: 'btn btn-primary', id: 'btn-back' %>
  </div>
</div>
