<div class="form-horizontal">
  <%= form_for(order) do |f| %>
      <% if order.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being
              saved:</h2>

            <ul>
              <% order.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= f.label "I have" %>
        <%= f.select :has, choices: (['EUR', 'AUD', 'BGN', 'BRL', 'CAD', 'CHF', 'CNY', 'CZK', 'DKK', 'GBP', 'HKD', 'HRK', 'HUF', 'IDR', 'ILS', 'INR', 'JPY', 'KRW', 'MXN', 'MYR', 'NOK', 'NZD', 'PHP', 'PLN', 'RON', 'RUB', 'SEK', 'SGD', 'THB', 'TRY', 'USD', 'ZAR']), class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :amount %>
        <%= f.text_field :amount, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "I want" %>
        <%= f.select :wants, choices: (['USD', 'AUD', 'BGN', 'BRL', 'CAD', 'CHF', 'CNY', 'CZK', 'DKK', 'EUR', 'GBP', 'HKD', 'HRK', 'HUF', 'IDR', 'ILS', 'INR', 'JPY', 'KRW', 'MXN', 'MYR', 'NOK', 'NZD', 'PHP', 'PLN', 'RON', 'RUB', 'SEK', 'SGD', 'THB', 'TRY', 'ZAR']), class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label "I can wait until" %>
        <%= f.date_select :deadline, start_year: Date.today.year, default: 1.month.from_now, end_year: Date.today.year + 1, class: "form-control" %>
      </div>

      <div class="actions">
        <div align="right">
          <%= f.submit "Calculate", class: "btn btn-primary" %>
        </div>
      </div>
  <% end %>
</div>
