<% first_rate_value = (@order.amount / (@rate[@order.has.downcase] / @rate[@order.wants.downcase])) %>
<% top_three = @averages.sort_by(&:computed_rate).reverse %>
<% graph_dates = [] %>
<% graph_dates << @rate.date.strftime('%Y %B %d') %>
<% graph_values = [] %>
<% graph_values << first_rate_value %>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-9">
    <h3 align="center">Details for each week, standarized to Wednesdays</h3>
    <p></p>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>When</th>
        <th>History</th>
        <th>Average from last 2 years</th>
        <th>Will have</th>
        <th>Profit/loss</th>
        <th>Rank</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>On the day of creation: <%= @rate.date.strftime('%Y %B %d') %></th>
        <th> N/A</th>
        <th>1 <%= @order.wants %>
          was <%= number_with_precision((@averages.first[@order.has.downcase] / @averages.first[@order.wants.downcase]), :precision => 4) %> <%= @order.has %></th>
        <th><%= number_with_precision((@order.amount / (@rate[@order.has.downcase] / @rate[@order.wants.downcase])), :precision => 2) %> <%= @order.wants %></th>
        <th>
          <div align="center">0.00</div>
        </th>
        <th>
        </th>
      </tr>
      <% @averages[1..@averages.length].each_with_index do |average, index| %>
          <% previous_element = @averages[index-1] %>
          <%= %>
          <% real_rate = (average[@order.has.downcase] / average[@order.wants.downcase]) %>
          <% real_value = (@order.amount / (average[@order.has.downcase] / average[@order.wants.downcase])) %>
          <% proportion = (@order.amount / (@rate[@order.has.downcase] / @rate[@order.wants.downcase])) * (@order.amount / (previous_element[@order.has.downcase] / previous_element[@order.wants.downcase])) / real_value %>
          <% graph_values << proportion %>
          <% graph_dates << (average.date + 1.year).strftime('%Y %B %d') %>
          <tr>
            <td><%= (average.date + 1.year).strftime('%Y %B %d, %W week of %Y') unless average.date == nil %>
            </td>
            <td><%= average.date.strftime('%Y %B %d') %></td>
            <td>1 <%= @order.wants %>
              was <%= number_with_precision(real_rate, :precision => 4) %> <%= @order.has %></td>
            <td><%= number_with_precision(proportion, :precision => 2) %> <%= @order.wants %></td>
            <% if first_rate_value - proportion >= 0 %>
                <td>
                  <p><%= number_with_precision(proportion - first_rate_value, :precision => 2) %> &darr;  </p>
                </td>
            <% else %>
                <td>
                  <p><%= number_with_precision(proportion - first_rate_value, :precision => 2) %> &uarr;  </p>
                </td>
            <% end %>
            <% case average
                 when top_three.first %>
                <td>1st</td>
            <% when top_three.second %>
                <td>2nd</td>
            <% when top_three.third %>
                <td>3rd</td>
            <% else %>
                <td></td>
            <% end %>
      <% end %>
      </tr>

      </tbody>
    </table>
    <script type="application/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        new Chartist.Line('.ct-chart', data, {
          showArea: true
        });
      });

      var data = {
        labels: <%= graph_dates.to_json.html_safe %>,
        series: [
          <%= graph_values.to_json.html_safe %>
        ]
      };

    </script>
  </div>
</div>
