<div class="container-fluid">
  <div class="col-md-3"></div>
  <div class="col-md-9">
    <h2>Editing Order</h2>

    <%= render 'form', order: @order %>

    <%= link_to 'Show', @order %> |
    <%= link_to 'Back', orders_path %>
  </div>
</div>
