<p id="notice"><%= notice %></p>
<div class="col-md-3">
</div>
<div class="col-md-9">
  <h2>My Orders</h2>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>Has</th>
      <th>Wants</th>
      <th>Amount</th>
      <th>Deadline</th>
      <th colspan="3">
        <div align="center">Actions</div>
      </th>
    </tr>
    </thead>

    <tbody>
    <% @orders.each do |order| %>
        <tr>
          <td><%= order.has %></td>
          <td><%= order.wants %></td>
          <td><%= order.amount %></td>
          <td><%= order.deadline %></td>
          <td><%= link_to 'Show', order %></td>
          <td><%= link_to 'Edit', edit_order_path(order) %></td>
          <td><%= link_to 'Destroy', order, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div class="col-md-pull-3" align="right">
    <br><br>
    <%= link_to 'New Order', '/orders/new', class: 'btn btn-primary', id: "order-new" %>
  </div>
</div>
