<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-3">
    <div align="center">
      <h2>Viewing order:</h2>
    </div>
    <dl class="dl-horizontal">
      <dt><strong>Has:</strong></dt>
      <dd><%= @order.has %> <%= @order.amount %></dd>
      <dt><strong>Wants:</strong></dt>
      <dd> <%= @order.wants %></dd>
      <dt><strong>Created:</strong></dt>
      <dd><%= @order.created.to_date %></dd>
      <dt><strong>Deadline:</strong></dt>
      <dd><%= @order.deadline %></dd>
    </dl>
    <div align="center">
      <%= link_to 'Edit', edit_order_path(@order), class: 'btn btn-primary', id: 'btn-edit' %> |
      <%= link_to 'Back', orders_path, class: 'btn btn-primary', id: 'btn-back' %>
    </div>
    <h3>How is it computed?</h3>
    <p align="justify">We take average values from the last 2 years and the current rate. Then, we
      calculate a
      proportion between two
      neighbouring averages in history. Finally, we apply that proportion to current rate and
      value.</p>
    <h4>Example</h4>
    <p align="justify">In the last two years, between weeks 10 and 11 the EUR/USD rate rose from 1 to 1.50. Currently,
      it's week 10, and the rate is at 0.5.</p>
    <p>Based on the past, we predict that the date will rise to 0.75.</p>

    <h4>Note:</h4>
    <p>Sometimes, getting the average data for a long period can take some time. Refresh the page if
      needed.</p>

  </div>
  <div class="col-md-9">
    <div align="center">
      <h3>Graph</h3>
      <div class="ct-chart ct-perfect-fourth"></div>
    </div>
    <br>
  </div>
</div>
    <%= render 'graph' %>
