body {
  background-color: #fff;
  color: #333;
  font-family: 'Noto Sans', verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0px;
}

p, ol, ul, td {
  font-family: 'Noto Sans', verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

h1, h2, h3, h4 {
  color: #118777;
  font-family: 'Lora', serif;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #43C3B1;

  &:visited {
    color: #43C3B1;
  }

  &:hover {
    color: #118777;
    text-decoration: none;
  }
}

th {
  padding-bottom: 5px;
  color: #118777;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: #43C3B1;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.navbar {
  .container-fluid {
    background-color: #43C3B1;

  }
}

.navbar-default .navbar-brand {
  font-family: 'Noto Sans', verdana, arial, helvetica, sans-serif;
  color: #ffffff;
  font-weight: 900;
}

.navbar-default .navbar-text {
  font-family: 'Noto Sans', verdana, arial, helvetica, sans-serif;
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
  font-family: 'Noto Sans', verdana, arial, helvetica, sans-serif;
  color: #ffffff;
  font-weight: 800;
}

.btn-primary {
  background-color: #34D0BA;
  border-color: #118777;
  color: #ffffff;

  &:hover {
    background-color: #118777;
    color: #ffffff;
  }
}

.ct-series-a .ct-line {
  stroke: #34D0BA;
  stroke-width: 3px;
}

.ct-series-a .ct-area {
  fill: #34D0BA;
}

.ct-series-a .ct-point {
  stroke: #34D0BA;
}
