<p id="notice"><%= notice %></p>
<div class="col-md-3">
  <h3>Getting started</h3>
  <p>What you see here is a list of existing currency rates by week. To find when it is the most
    convenient time to exchange once currency to another, do the following:</p>
  <ul>
    <li ><%= link_to 'Create an acccount', '/signup' %><br>
      or <%= link_to 'Sign in', '/signin' %></li>
    <li ><%= link_to 'Create a new order', '/orders/new' %></li>
  </ul>
</div>
<div class="col-md-9">
  <h2>Rates</h2>

  <table class="table table-responsive">
    <thead>
    <tr>
      <th>Week of a year</th>
      <th>Date of the probe</th>
      <th>EUR</th>
      <th>USD</th>
      <th>CAD</th>
      <th>JPY</th>
      <th>SEK</th>
      <th>CHF</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @rates.each do |rate| %>
        <tr>
          <td><%= rate.date.strftime('%W week of %Y') %></td>
          <td><%= rate.record_date.strftime('%Y-%m-%d, %A') unless rate.record_date == nil %></td>
          <td><%= rate.eur %></td>
          <td><%= rate.usd %></td>
          <td><%= rate.cad %></td>
          <td><%= rate.jpy %></td>
          <td><%= rate.sek %></td>
          <td><%= rate.chf %></td>
          <td><%= link_to 'Show', controller: "rates", action: "show", id: rate.id %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
