<h2>Select the date:</h2>

<%= form_tag '/rates' do %>

    <div class="field form-group">
      Date: <%= date_field_tag :date, type: 'date' %>
    </div>

    <div class="form-group">
      <%= submit_tag "Submit", class: 'form-control' %>
    </div>

<% end %>
