<div class="col-md-3"></div>
<div class="col-md-9">
  <p id="notice"><%= notice %></p>

  <h2>Rates for <%= @rate.date.strftime('%W week of %Y') %></h2>
  <p><strong>Note:</strong> We standarize rates to Wendesday of a given week. Actual record date might vary on different factors. For example, if that day was a bank holiday.</p>

  <dl class="dl-horizontal">
    <dt>Date</dt>
    <dd><%= @rate.date.strftime("%Y %B %d") %></dd>
    <dt>Record date</dt>
    <dd><%= @rate.record_date.strftime("%Y %B %d, %A") %></dd>
    <br>
    <dt>EUR</dt>
    <dd><%= @rate.eur %></dd>
    <dt>AUD</dt>
    <dd><%= @rate.aud %></dd>
    <dt>BGN</dt>
    <dd><%= @rate.bgn %></dd>
    <dt>BRL</dt>
    <dd><%= @rate.brl %></dd>
    <dt>CAD</dt>
    <dd><%= @rate.cad %></dd>
    <dt>CHF</dt>
    <dd><%= @rate.chf %></dd>
    <dt>CNY</dt>
    <dd><%= @rate.cny %></dd>
    <dt>CZK</dt>
    <dd><%= @rate.czk %></dd>
    <dt>DKK</dt>
    <dd><%= @rate.dkk %></dd>
    <dt>GBP</dt>
    <dd><%= @rate.gbp %></dd>
    <dt>HKD</dt>
    <dd><%= @rate.hkd %></dd>
    <dt>HRK</dt>
    <dd><%= @rate.hrk %></dd>
    <dt>HUF</dt>
    <dd><%= @rate.huf %></dd>
    <dt>IDR</dt>
    <dd><%= @rate.idr %></dd>
    <dt>ILS</dt>
    <dd><%= @rate.ils %></dd>
    <dt>INR</dt>
    <dd><%= @rate.inr %></dd>
    <dt>JPY</dt>
    <dd><%= @rate.jpy %></dd>
    <dt>KRW</dt>
    <dd><%= @rate.krw %></dd>
    <dt>MXN</dt>
    <dd><%= @rate.mxn %></dd>
    <dt>MYR</dt>
    <dd><%= @rate.myr %></dd>
    <dt>NOK</dt>
    <dd><%= @rate.nok %></dd>
    <dt>NZD</dt>
    <dd><%= @rate.nzd %></dd>
    <dt>PHP</dt>
    <dd><%= @rate.php %></dd>
    <dt>PLN</dt>
    <dd><%= @rate.pln %></dd>
    <dt>RON</dt>
    <dd><%= @rate.ron %></dd>
    <dt>SEK</dt>
    <dd><%= @rate.sek %></dd>
    <dt>SGD</dt>
    <dd><%= @rate.sgd %></dd>
    <dt>THB</dt>
    <dd><%= @rate.thb %></dd>
    <dt>TRY</dt>
    <dd><%= @rate.try %></dd>
    <dt>USD</dt>
    <dd><%= @rate.usd %></dd>
    <dt>ZAR</dt>
    <dd><%= @rate.zar %></dd>
  </dl>

  <div align="right">
    <%= link_to 'Back', rates_path, class: 'btn btn-primary', id: 'btn-back' %>
  </div>
</div>
