<!DOCTYPE html>
<html>
<head>
  <title>Currency Converter</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
<nav class="navbar navbar-default navbar-custom" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Currencies", action='/orders', class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user.nil? %>
          <li class="nav-item"><%= link_to "Sign in", action='/signin' %></li>
          <li class="nav-item"><%= link_to "Sign up", action=new_user_path %></li>
      <% else %>
          <li><p class="navbar-text">Signed in as: <%= current_user.name %></p></li>
          <li><%= link_to "Account details", edit_user_path(id: current_user.id) %></li>
          <li><%= link_to "My orders", action='/orders' %></li>
          <li><%= link_to "Rate history", action='/rates' %></li>
          <li><%= link_to "Sign out", action='/signout' %></li>
          </ul>
      <% end %>
      </div>
</nav>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
